* {
    background-color: black;
    color: white;
    font-family: sans-serif
}

#navbar-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}