* {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: end;
}

li {
    list-style: none;
}

.title {
    display: flex;
    justify-content: center;
}