* {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: end;
}

li {
    list-style: none;
}

h1.title {
    display: flex;
    justify-content: center;
}

.registerform {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    border-width: 1px;
    margin: 10px;
}

button {
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    border-width: 1px;
    margin: 10px;
}